<div class="container">
  <h6 class=" my-4"><strong class="px-3" style="background-color: #dcdcdc">管理者ログイン</strong></h6>

      <%= form_with model: @admin,url: admin_session_path do |f| %>

        <div class="row mx-3 mb-3 px-5">
          <div class="col-form-label col-3" >
            <%= f.label "メールアドレス" %>
          </div>
          <div class="col-7 ">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", class: "form-control" %>
          </div>

          <div class="col-form-label col-3" >
            <%= f.label "パスワード" %>
          </div>
          <div class="col-7 ">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>


          <div class="col-6 offset-3 my-4">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
      </div>
      <% end %>

      <%= render "admin/shared/links" %>
