<div class="container">
  <h6 class="col-3 offset-1 my-4"><strong class="px-3" style="background-color: #dcdcdc">配送先編集</strong></h6>
  <%= form_with model: @address, url: address_path(@address.id) do |f| %>
    <div class="row ml-4 mb-2">
      <%= f.label "郵便番号(ハイフンなし)", class: "form-label col-3" %>
      <%= f.text_field :postal_code, class: "form-control col-4" %>
    </div>

    <div class="row ml-4 mb-2">
      <%= f.label "住所", class: "form-label col-3" %>
      <%= f.text_field :address, class: "form-control col-6" %>
    </div>

    <div class="row ml-4 mb-2">
      <%= f.label "宛名", class: "form-label col-3" %>
      <%= f.text_field :name, class: "form-control col-4" %>
       <%= f.submit "変更内容を保存", class: "btn btn-success offset-2 col-2" %>
    </div>
  <% end %>
</div>